body {
	margin:0;
	padding: 0;
	font-family: 'HEPTA SLAB', serif;
   background-color: rgb(250,250,250);

}
.nav1{
	position: relative;
	width: 100%;
	  background-color: rgba(0,0,0,10);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0;
    

}
.nleft{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}
.nright{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav1 a{

	padding: 12px 0.1vw;
	text-decoration: none;
	color: white;
	font-size: 15px;
	text-align: center;
	margin: auto 2.5vw;
}
.nright{
  margin-top: 5px;
}

.nav1 .ggwp {
  font-size: 20px;
}
.nav1 .icon {
  display: none;
}
.nav1 :hover {
  color: #555;
  transition: all 0.5s;


}
.nav1 a {
	position: relative;

}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  margin: 0;
  text-align: center;
  padding: 12px 15px 12px 15px;
  display: block;
  text-decoration: none;
}

.nleft>li{
  display: inline-block;
  margin-left: -5px;
}

.nright>li{
  display: inline-block;
  margin-left: -5px;
}
  

.subMenu{
  position: absolute;
  display: none;
}
.subMenu li{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 1px;
  position: relative;
  background: rgba(0,0,0,0.8);
}

.nleft>li:hover .subMenu{
  display: block;
}

.nright>li:hover .subMenu{
  display: block;
}
.SuperSubMenu{
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translate(100%,0);
  -webkit-transform: translate(100%,0);
  transform:translate(100%,0);
  display: none;
}

.subMenu li:hover>.SuperSubMenu{
  display: block;
}

.nav1 :after{
	transition: all 0.5s;
}
.nav1 a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1.5px;
}
.nav1 a:hover:after {
	width: 100%;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.5s;
}

.mpage{
	width: 100%;
	margin: 0;
	
	display: flex; 
	flex-direction: row1;

}
.sidebar{
	display: flex;
	flex-direction: column;
	position: static;
	width: 20%;
	background-color: white;
	height: auto;
	background-image:  linear-gradient(to right,rgba(51,54,55,10),rgba(26,25,25,10)) ;

	overflow-x: hidden;
	top: 0;
	left: 0;
	-moz-box-shadow:    inset 0 0 20px black;
   -webkit-box-shadow: inset 0 0 20px black;
   box-shadow:         inset 0 0 20px black;
}
.sidebar a {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	font-size: 13px;
	padding: 10px 5px;
	color: white;

	


}
.side a{

	width: 100%;
	margin-left: 0;
}
.sidebar a.tl {
	background-color: rgba(143,140,140,10);
	padding: 15px 10px;
	width: 100%;
	color: black;
	margin-left: -20px;
	font-size: 15px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}

.scat  :hover{
background:#8F8C8C;
transition: all 0.4s;
}

.sfilt .pricer a{
text-transform: uppercase;
font-size:18px;

}
.sfilt .pricer p{
text-transform: uppercase;
color: white;
width: 90%;
text-align: center;
margin-top: -5px;
}
.sfilt .brander{

}
.sfilt .brander a{
	text-transform: uppercase;
	margin:  20px 5px;
	font-size:18px;

}
.sfilt .brander label{
	color: white;
	margin:  -5px 5px;
	font-size: 15px;
}



.row1{
	width:70%;
	margin: 0 auto;
	background-color: rgb(248,248,248 );
}
.ordfil{
	display: flex;
	flex-flow: row1;
	justify-content:space-between;
	margin-top: 30px;
	width: 100%;
}
.icon2 {
		font-size: 20px;
	padding: 7px;
	background: white;
	border-radius:3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: black;
	margin-left: 19px;


}
.icon2 a{
	text-decoration: none;
	font-size: 15px;
	color: black;
}
.ordfil .ord a{
	text-decoration: none;
	color: black;
	padding: 20px;
	font-size: 15px;
	display: flex;
	flex-direction: row1;
	justify-content: center;
	
}
.ordfil .icon3 i{
	font-size: 20px;
	padding: 7px;
	background: white;
	border-radius:3px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: black;
	margin-right: 19px;
}
.pros{
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	
	align-content:center;
	margin-left: 0;

	width: 100%;


}

#category {
  list-style-type: none;
  padding: 0;
  margin: 0;
}




#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}
.pro1 {
	display: flex;
	flex-direction: column;
	
	align-items:  center;
	width: 200px;
	height: 500px;
	padding: 20px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	margin: 30px 17.3px;
	text-align: center;

}
.pro1 img{
	width: 80%;
	height: 160px;
	
}
.pro1 a{
	text-align: center;
	text-decoration: none;
	color:black;
	font-size: 12px;
}


.price {
  color: grey;
  font-size: 20px;
  

}
.pro1 .des {
	height: 400px;
	width: 100%;
	max-height: 400px;
	overflow: auto;
	font-size: 12px;

}

.pro1 .cartb {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family:hepta Slab;
  border-radius: 2px;

}

.pro1 .cartb:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}
.footer {
    background-color: #080303;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
    z-index: 1;
   }