@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap"');
body{
	font-family:'Hepta Slab', serif;
	background: url(bg5.jpg) no-repeat ;
}
.box {
	width: 300px;
	height: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #191919;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 0px solid #000000;
}
.box h2{
	font-weight: 500;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.text-container input{
	border:0;
	font-family:'Hepta Slab', serif;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 12px 35px;
	width: 320px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}

.text-container input:hover{
	border-color: #2ecc71;
}

.box input[type = "submit"]{
	border:0;
	background: none;
	font-family:'Hepta Slab', serif;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #2ecc71;
}